<!DOCTYPE html>
<html>
<head>
	<title>My Web Page</title>
  <style>
    h1{
      font-size: 40px;
      font-family: Roboto;
      font-weight: normal;
      text-align: center;
    }
    h2{
      text-align: center;
      font-family:roboto;
      font-weight: normal;
      
    }
    #banner{
      width: 100%;
      height: 360px;
      object-fit: cover;
    }
    #container{
      max-width:720px;
      margin: 0 auto 0 auto;
    }
  </style>
</head>
   
  <body>
       <div id="container">
    	<h1>Jovian Careers</h1>
      <img id="banner" src="static/banner.jpg" >"
      <h2>About Jovian</h2>
    	<p>
    
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel pulvinar tortor. Fusce efficitur leo quam, nec finibus risus interdum nec. Ut facilisis lobortis elit, id varius risus mollis eu. In tristique non lectus ut hendrerit. In ex ante, gravida ac tristique vel, ultricies sed nisi. Morbi pellentesque arcu vel sem feugiat feugiat eu eget risus. Nulla feugiat est mauris, a commodo odio aliquam malesuada. Duis lacinia vitae turpis at convallis. Morbi condimentum nibh eget ipsum molestie bibendum. Donec fringilla efficitur ligula eget sodales. Etiam tempor bibendum gravida. Nam rutrum, enim nec pulvinar consectetur, sapien lacus pretium lacus, sit amet lacinia velit quam at urna.
    
      Praesent et eleifend est. Integer eget consectetur orci. Integer in urna semper, tempus urna vitae, imperdiet lacus. Sed at justo in sapien accumsan efficitur nec commodo felis. Proin vel mollis elit, lacinia fringilla lacus. Curabitur vitae arcu molestie, auctor felis ac, placerat justo. Integer eget diam quam. Quisque semper, tellus sed accumsan ultricies, magna purus interdum libero, eu suscipit odio nisi id erat.
    </p>
         <h2>Open Jobs</h2>
         <button>Aply</button>
          </div>
  </body>
     
</html>